<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="spirit" translate="label" sortOrder="800" class="spirit-tab">
            <label>Spirit</label>
        </tab>
        <section id="spirit_skroutz"
                 translate="label"
                 type="text"
                 sortOrder="100"
                 showInDefault="1"
                 showInWebsite="1"
                 showInStore="1">
            <label>Skroutz</label>
            <tab>spirit</tab>
            <resource>Spirit_Skroutz::config</resource>
            <group id="analytics" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Skroutz Analytics</label>
                <field id="status"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id"
                       translate="label"
                       type="text"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Merchant ID</label>
                    <validate>required-entry</validate>
                    <comment>The shop account ID is provided by Skroutz</comment>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
                <field id="unique_id"
                       translate="label"
                       type="select"
                       sortOrder="30"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Unique ID</label>
                    <validate>required-entry</validate>
                    <source_model>Spirit\Skroutz\Model\Config\Source\UniqueId</source_model>
                    <comment>Specify the Unique ID that should be send to analytics.</comment>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
                <field id="variation_unique_id"
                       translate="label"
                       type="radios"
                       sortOrder="40"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Variation Unique IDs</label>
                    <source_model>Spirit\Skroutz\Model\Config\Source\VariationUniqueId</source_model>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
            </group>
            <group id="reviews" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Skroutz Reviews</label>
                <field id="status"
                       translate="label"
                       type="select"
                       sortOrder="10"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="theme"
                       translate="label"
                       type="select"
                       sortOrder="20"
                       showInDefault="1"
                       showInWebsite="1"
                       showInStore="1">
                    <label>Theme</label>
                    <source_model>Spirit\Skroutz\Model\Config\Source\Reviews</source_model>
                    <comment>Skroutz Analytics should be enabled.</comment>
                    <depends>
                        <field id="status">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
